.navbar-divider-vertical {
    display: inline-block;
    border-right: 1px solid white;
    height: 24px;
    margin: 0 10px;
    vertical-align: middle;
  }

.nav-item{
margin: 5px;
}

body{
    background-color: #013A36;
}

.bienvenido{
    color: #59B7B0;
    text-align: center;
    margin-top: 50px;
    font-size: 6vh;
    font: bold;
}

.dudas{
    height: 300px;
}

.row{
    margin-top: 5%;
    height: 200px;
}

.col-md-4{
    text-align: center;
    border: white;
    border-width: 1px;
    border-style: solid;
    margin-right: 3%;
}

li{
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 33px;
    list-style: none;
}

h3{
    color: white;
    padding: 10px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 30px; font-style: italic; font-variant: normal; font-weight: 400; line-height: 33px; 
}

a{
    text-decoration: none;
}

#contacto{
    color: white;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 30px; font-style: italic; font-variant: normal; font-weight: 400; line-height: 33px; 
}

#mail{
    color: white;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px;
}
